{% extends "core/base.html" %}
{% load i18n static %}

{% block title %}
  <title>Mentions légales</title>
{% endblock title %}

{% block content %}
<h1>Mentions légales</h1>

<h2>Éditeur</h2>

<p>
  Département Opérateur de Produits Interministériels (OPI)<br>
  Direction Interministérielle au Numérique (DINUM)<br>
  Siège social : 20 Avenue de Ségur 75007 PARIS<br>
  Téléphone : +33 (0)1 71 21 01 70
</p>

<p>Directrice de la publication : Stéphanie Schaer</p>

<h2>Copyright</h2>

<p>
Illustrations : DINUM
</p>

<h2>Hébergement</h2>


<p>
  Scalingo SAS<br>
  13 rue Jacques Peirotes<br>
  67000 Strasbourg
</p>

<p>Ce service est hébergé en France.</p>

<h2>Plus d'infos ?</h2>

<p>
L'équipe éditrice du site peut être contactée par email à l'adresse <strong>opendata@numerique.gouv.fr</strong>.
</p>
{% endblock content %}
