{% extends "core/base.html" %}
{% load i18n static %}

{% block title %}
<title>Produit</title>
{% endblock title %}

{% block content %}
<div>
    <h1>
        {{product}}
    </h1>

    <p>
        Tous les indicateurs sur notre API :
        <a href="/api/products/{{product.slug}}/">/api/products/{{product.slug}}/</a>
    </p>

    <p>
        {% if product.dataset_id %}
        Dataset data.gouv.fr :
        <a href="https://www.data.gouv.fr/datasets/{{product.dataset_id}}">{{ product.dataset_id }}</a>
        {% else %}
        Ce produit ne fait pas encore l'objet d'une publication sur data.gouv.fr.
        {% endif %}
    </p>

    {% for indicator in product.indicators.all %}
        <h2>{{ indicator.indicateur }}</h2>
        <p>Fréquence des relevés : {{ indicator.frequence_monitoring }}</p>

        <div class="fr-table">
            <div class="fr-table__wrapper">
                <div class="fr-table__container">
                    <div class="fr-table__content">
                        <table>
                            <thead>
                                <th scope="col">Valeur</th>
                                <th scope="col">Période</th>
                                <th scope="col">Ajout<br>automatisé</th>
                            </thead>
                            <tbody>
                                {% for record in indicator.records.all %}
                                <tr>
                                    <td>
                                        {{ record.value|floatformat:"0" }}
                                    </td>
                                    <td>
                                        {% if record.start_date %}
                                        {{ record.start_date}} -
                                        {% endif %}
                                        {{ record.end_date }}
                                    </td>
                                    <td>
                                        {{ record.is_auto_added }}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}