{% extends "core/base.html" %}
{% load i18n static %}

{% block title %}
  <title>Liste des produits</title>
{% endblock title %}

{% block content %}
<div class="fr-table">
    <div class="fr-table__wrapper">
        <div class="fr-table__container">
            <div class="fr-table__content">
                <table>
                    <caption>Produits référencés</caption>
                    <thead>
                        <th scope="col">Produit</th>
                        <th scope="col">Date dernières stat</th>
                        <th scope="col">Dernières stat</th>
                        <th scope="col">Récupération auto ?</th>
                    </thead>
                    <tbody>
                        {% for product in products %}
                        <tr>
                            <td>{{ product.nom_service_public_numerique }}</td>
                            
                            {% if product.last_indicators %}
                                <td>
                                    {{ product.last_indicators.0.created_at.date }}
                                </td>
                                <td>
                                    {% for indicator in  product.last_indicators %}
                                        {{ indicator.valeur|floatformat:"0" }} {{ indicator.indicateur }}<br>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for indicator in product.last_indicators %}
                                        {{ indicator.est_automatise }}<br>
                                    {% endfor %}
                                    
                                </td>
                            </td>    
                            {% else %}
                            <td>N/A</td>
                            <td>N/A</td>
                            <td>N/A</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
