{% extends "core/base.html" %}
{% load i18n static %}

{% block title %}
<title>Produit</title>
{% endblock title %}

{% block content %}
<div>
    <h1>
        {{product}}
    </h1>

    <p>
        Tous les indicateurs sur notre API :
        <a href="/api/products/{{product.slug}}/">/api/products/{{product.slug}}/</a>
    </p>

    <p>
        {% if product.dataset_id %}
        Dataset data.gouv.fr :
        <a href="https://www.data.gouv.fr/datasets/{{product.dataset_id}}">{{ product.dataset_id }}</a>
        {% else %}
        Ce produit ne fait pas encore l'objet d'une publication sur data.gouv.fr.
        {% endif %}
    </p>

    {% if product.last_records %}
    <div class="fr-table">
        <div class="fr-table__wrapper">
            <div class="fr-table__container">
                <div class="fr-table__content">
                    <table>
                        <caption>Indicateurs du {{ product.records.all.0.date }}</caption>
                        <thead>
                            <th scope="col">Valeur</th>
                            <th scope="col">Indicateur</th>
                            <th scope="col">Fréquence</th>
                            <th scope="col">Période</th>
                            <th scope="col">Ajout<br>automatisé</th>
                        </thead>
                        <tbody>
                            {% for record in product.records.all %}
                            <tr>
                                <td>
                                    {{ record.valeur|floatformat:"0" }}
                                </td>
                                <td>
                                    {{ record.indicateur }}
                                </td>
                                <td>
                                    {{ record.frequence_monitoring }}
                                </td>
                                <td>
                                    {% if record.date_debut %}
                                    {{record.date_debut}} -
                                    {% endif %}
                                    {{ record.date }}
                                </td>
                                <td>
                                    {{ record.est_automatise }}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}