asgiref==3.9.1
datagouv_client==0.5.0
dj-database-url==3.1.2
Django==6.0.7
django-dsfr==3.5.2
djangorestframework==3.17.1
djangorestframework-api-key==3.1.0
drf-spectacular==0.30.0
drf-spectacular-sidecar==2025.8.1
factory_boy==3.3.3
freezegun==1.5.5
gunicorn==23.0.0
pandas==3.0.3
psycopg2-binary==2.9.12
pytest==9.1.1
pytest-django==4.12.0
python-dotenv==1.2.2
responses==0.26.2
ruff==0.15.21
sqlparse==0.5.5
typing_extensions==4.16.0
whitenoise==6.12.0